<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Users</h2>
  <table class="table">
    <thead class="thead thead-default"> 
      <tr>
        <th>Name</th>
        <th>Email</th>
        <% if session[:user_id] %>
          <th>Chat Please</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %> 
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <% if session[:user_id] %>
            <td><%= link_to 'Chat With Me', new_conversation_path(user.id) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to "Register", new_user_path %>